<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.plooks.mapper.ArchiveMapper">
    <insert id="insertLike">
        insert into `like` (uid, vid, created_at, updated_at)
        values (#{uid}, #{vid}, #{createdAt}, #{updatedAt})
    </insert>


    <update id="updateLikeById">
        update `like` set deleted_at = #{deletedAt}, updated_at = #{updatedAt} where id = #{id}
    </update>

    <!--循环cancelList删除-->
    <delete id="cancelCollect">
        delete from collect where vid = #{vid} and uid = #{uid}
        <foreach collection="cancelList" item="cancel" open="and id in (" close=")" separator=",">
            #{cancel}
        </foreach>
    </delete>

    <insert id="addCollect">
        insert into collect (uid, vid, cid, created_at, updated_at) values
        <foreach collection="addList" item="add" separator=",">
            (#{uid}, #{vid},#{add},NOW(), NOW())
        </foreach>
    </insert>

    <select id="getCollectCount" resultType="java.lang.Integer">
        select count(*) from collect where vid = #{vid} and deleted_at is null
    </select>

    <select id="getLikeCount" resultType="java.lang.Integer">
        select count(*) from `like` where vid = #{vid} and deleted_at is null
    </select>

    <select id="hasLike" resultType="java.lang.Integer">
        select count(*) from `like` where vid = #{vid} and uid = #{uid} and deleted_at is null
    </select>
    <select id="hasCollect" resultType="java.lang.Integer">
        select count(*) from collect where vid = #{vid} and uid = #{uid} and deleted_at is null
    </select>
    <select id="hasLikeNoDelete" resultType="com.schuanhe.plooks.domain.Archive$Like">
        select * from `like` where vid = #{vid} and uid = #{uid}
    </select>
    <select id="selectCollect" resultType="com.schuanhe.plooks.domain.Archive$Collect">
        select * from collect where vid = #{vid} and uid = #{uid} and deleted_at is null
    </select>
    <select id="getCollectVideoIds" resultType="java.lang.Integer">
        select vid from collect where cid = #{cid} and uid = #{uid} and deleted_at is null
        order by created_at desc limit #{i}, #{size}
    </select>
    <select id="getCollectVideoCount" resultType="java.lang.Integer">
        select count(*) from collect where cid = #{cid} and uid = #{uid} and deleted_at is null
    </select>

    <select id="selectUidByVid" resultType="java.lang.Integer">
        select uid from videos where id = #{vid}
    </select>


    <insert id="insertLikeMessage">
        insert into like_messages (created_at, updated_at, vid, uid, fid) values
        (NOW(), NOW(), #{vid}, #{uid}, #{fid})
    </insert>

</mapper>
