<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.plooks.mapper.CarouselsMapper">

    <resultMap id="BaseResultMap" type="com.schuanhe.plooks.domain.Carousels">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="createdAt" column="created_at" jdbcType="TIMESTAMP"/>
            <result property="updatedAt" column="updated_at" jdbcType="TIMESTAMP"/>
            <result property="deletedAt" column="deleted_at" jdbcType="TIMESTAMP"/>
            <result property="img" column="img" jdbcType="VARCHAR"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="color" column="color" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,created_at,updated_at,
        deleted_at,img,title,
        url,color
    </sql>
    <select id="getCollectVideoIds" resultType="java.lang.Integer">
        select id from carousels where deleted_at is null
    </select>
</mapper>
