<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.plooks.mapper.UserMapper">
    <update id="updatePasswordByEmail">
        update user set password = #{password} where email = #{email}
    </update>

    <update id="updateCoverById">
        update user set space_cover = #{cover} where id = #{id}
    </update>
    <!--修改用户数据，仅修改不为空的数据-->
    <!-- 修改用户数据，仅修改不为空的数据 -->
    <update id="updateUserInfoById" parameterType="com.schuanhe.plooks.domain.User">
        update user
        <set>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="birthday != null"> birthday = #{birthday}, </if>
            <if test="nickname != null"> nickname = #{nickname}, </if>
            <if test="gender != null"> gender = #{gender}, </if>
            <if test="sign != null"> sign = #{sign}, </if>
        </set>
        where id = #{id}
    </update>


    <select id="selectByUsername" resultType="com.schuanhe.plooks.domain.User">
        select * from user where username = #{username}
    </select>

    <select id="selectByEmail" resultType="com.schuanhe.plooks.domain.User">
        select * from user where email = #{email}
    </select>

</mapper>