<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.plooks.mapper.VideoMapper">


    <insert id="insertVideo" parameterType="com.schuanhe.plooks.domain.Video" useGeneratedKeys="true" keyProperty="id">
        insert into videos (title, cover, `desc`, copyright, partition_id, uid, status, created_at)
        values (#{title}, #{cover}, #{desc}, #{copyright}, #{partitionId}, #{uid}, #{status}, #{createdAt})
    </insert>

    <select id="selectById" resultType="com.schuanhe.plooks.domain.Video">
        select * from videos where id = #{id}
    </select>

    <select id="selectVideoByUid" resultType="com.schuanhe.plooks.domain.Video">
        select * from videos where uid = #{uid} order by created_at desc limit #{i}, #{size}
    </select>
    <select id="selectGoodVideoListByPartitionIds" resultType="com.schuanhe.plooks.domain.Video">
        SELECT * FROM videos
        WHERE partition_id IN
        <foreach collection="partitions" item="partition" open="(" close=")" separator=",">
            #{partition}
        </foreach>
        AND status = 0
        limit #{i}, #{size}
    </select>
    <select id="selectGoodVideoList" resultType="com.schuanhe.plooks.domain.Video">
        SELECT * FROM videos
        WHERE status = 0
        limit #{i}, #{size}
    </select>
    <select id="selectGoodVideoCountByPartitionIds" resultType="java.lang.Integer">
        SELECT count(*) FROM videos
        WHERE partition_id IN
        <foreach collection="partitions" item="partition" open="(" close=")" separator=",">
            #{partition}
        </foreach>
        AND status = 0
    </select>
    <select id="selectGoodVideoCount" resultType="java.lang.Integer">
        SELECT count(*) FROM videos
        WHERE status = 0
    </select>
    <select id="selectRecommendVideo" resultType="com.schuanhe.plooks.domain.Video">
        SELECT * FROM videos WHERE status = 0 ORDER BY clicks DESC LIMIT #{size}
    </select>

</mapper>
