<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.schuanhe.plooks.mapper.VideoMapper">


    <insert id="insertVideo" parameterType="com.schuanhe.plooks.domain.Video" useGeneratedKeys="true" keyProperty="id">
        insert into videos (title, cover, `desc`, copyright, partition_id, uid, status, created_at)
        values (#{title}, #{cover}, #{desc}, #{copyright}, #{partition}, #{uid}, #{status}, #{createdAt})
    </insert>
</mapper>
