spring:
  profiles:
    active: local # 指定当前环境为 local
  datasource:
    url: jdbc:mysql://plooks-mysql:3306/tb_plooks?characterEncoding=utf-8&serverTimezone=UTC
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver
  servlet:
    multipart:
      # 开启文件上传
      enabled: true
      # 单个文件最大
      max-file-size: 500MB
      # 总文件最大
      max-request-size: 1000MB
  redis:
    host: plooks-redis
    port: 6379
  mail:
    # 配置 SMTP 服务器地址
    host: ${MY_MAIL_HOST}
    # 发送者邮箱，已开通POP3/SMTP服务的邮箱，也就是你自己的
    username: ${MY_MAIL_USERNAME}
    # 配置密码，注意不是真正的密码，而是刚刚申请到的授权码
    password: ${MY_MAIL_PASSWORD}
    # 配置发件人名称
    nickname: Plook邮箱验证码

    # 端口号465或587（QQ邮箱发送邮件仅支持587端口协议）
    port: ${MY_MAIL_PORT}
    # 默认的邮件编码为UTF-8
    default-encoding: UTF-8
    # 配置SSL 加密工厂
    properties:
      mail:
        smtp:
          ssl:
            # 开启 SSL 加密
            enable: true
          socketFactoryClass: javax.net.ssl.SSLSocketFactory
        #表示开启 DEBUG 模式，这样，邮件发送过程的日志会在控制台打印出来，方便排查错误
        debug: true


# mybatis-plus
mybatis-plus:
  mapper-locations: classpath:mapper/*.xml # mapper.xml文件位置
  type-aliases-package: com.schuanhe.plooks.domain # 实体类所在包
  global-config: # 全局配置
    db-config: # 数据库配置
      id-type: auto # 主键类型
      logic-delete-value: 1 # 逻辑删除值
      logic-not-delete-value: 0 # 逻辑未删除值
  configuration: # 配置
    map-underscore-to-camel-case: true # 开启驼峰命名
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl # 打印sql语句



debug: false

# 七牛云配置
qiniu:
  access: ${MY_QINIU_ACCESS}
  secret: ${MY_QINIU_SECRET}
  bucket: ${MY_QINIU_BUCKET}
  path: ${MY_QINIU_PATH}

# 自定义配置
base-url: /v1/api # 基础路径

# 缓存配置
plooks:
  video:
    cache:
      expire: 180 # 缓存过期时间，单位秒
  ai:
    url: ${MY_AI_URL}
server:
  port: 2023